@model Aster.Web.Areas.Admin.Models.ContractorModel


<div class="card card-user">
    <div class="image"></div>
    <div class="card-body">
        <div class="author">
            <a href="#">
                <h5 class="title">
                    @Model.Forename @Model.Surname
                </h5>
            </a>
            <p class="description">
                @Model.DateOfBirth.ToString("dd/MM/yyyy")
                <br />
                @Model.NationalInsuranceNo
                <br />
                <i class="fa fa-envelope"></i> @Model.Email <br />
                <i class="fa fa-phone"></i> @Model.ContactNo
            </p>
        </div>        
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="list-group list-group-flush">            
            <a class="list-group-item d-flex justify-content-between lh-condensed"
               asp-area="admin" asp-controller="contractor" asp-action="edit" asp-route-id="@Model.Id">
                Personal
            </a>
            <a class="list-group-item d-flex justify-content-between lh-condensed"
               asp-area="admin" asp-controller="contractor" asp-action="bankaccounts" asp-route-id="@Model.Id">
                Bank Accounts
            </a>
            <a class="list-group-item d-flex justify-content-between lh-condensed" href="#">
                Payments
            </a>
            <a class="list-group-item d-flex justify-content-between lh-condensed" href="#">
                Assignments
            </a>
        </div>
    </div>
</div>
