@model Aster.Web.Areas.Admin.Models.ContractorModel
@{
    ViewData["Title"] = "Contractor Bank Accounts";
}

<div class="row">
    <div class="col-md-3 order-md-1">
        @await Html.PartialAsync("_Contractor.Info", Model)
    </div>
    <div class="col-md-9 order-md-2">


        <div class="card">
            <div class="card-header">
                <h5 class="card-category">Contractor Bank Accounts</h5>
                <h4 class="card-title">
                    Bank Accounts for @Model.Forename @Model.Surname
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>Sort Code</th>
                                <th>Account Number</th>
                                <th>Bank Name</th>
                                <th>Branch</th>
                                <th>Branch Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var account in Model.BankAccounts) {
                                <tr>
                                    <td>@account.SortCode</td>
                                    <td>@account.AccountNumber</td>                                    
                                    <td>@account.BankName</td>
                                    <td>@account.BankBranchName</td>
                                    <td>@account.BankAddress</td>
                                    <td>
                                        <a asp-area="admin" asp-controller="contractorbankaccount" asp-action="index" asp-route-id="@account.Id" >
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                        <a asp-area="admin" asp-controller="contractorbankaccount" asp-action="makedefault" asp-route-id="@account.Id">
                                            <i class="fa fa-check"></i> Make Default
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
