@model Aster.Web.Areas.Admin.Models.ContractorDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-md-3 order-md-2">
        <div class="card">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a class="list-group-item d-flex justify-content-between lh-condensed" href="#">
                        Personal
                    </a>
                    <a class="list-group-item d-flex justify-content-between lh-condensed" href="#">
                        Bank Accounts
                    </a>
                    <a class="list-group-item d-flex justify-content-between lh-condensed" href="#">
                        Payments
                    </a>
                    <a class="list-group-item d-flex justify-content-between lh-condensed" href="#">
                        Assignments
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 order-md-1">
        <div class="card">
            <div class="card-header">
                <h5 class="card-category">Contractor</h5>
                <h4 class="card-title">
                    @Model.Contractor.Forename @Model.Contractor.Surname
                </h4>
            </div>

            <div class="card-body">
                <form class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="ReferenceNo">
                                Reference No:
                            </label>
                            <input type="text" class="form-control" id="ReferenceNo"
                                   name="ReferenceNo"
                                   value="@Model.Contractor.ReferenceNo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="@Model.Contractor.Forename">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="middleName">Middle name</label>
                            <input type="text" class="form-control" id="middleName" placeholder="" value="@Model.Contractor.Middlename" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="@Model.Contractor.Surname">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="dateofbirth">Date of Birth:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="dateofbirth" placeholder="Date of Birth"
                                       value="@Model.Contractor.DateOfBirth.ToString("dd/MM/yyyy")">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Date of birth is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender">Gender</label>
                            <select class="form-control"
                                    asp-items="@(new SelectList(Model.Genders, Model.Contractor.Gender))">
                                <option value=""> - </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="NationalInsuranceNo">
                                National Insurance No.:
                            </label>
                            <input type="text" class="form-control" id="NationalInsuranceNo"
                                   name="NationalInsuranceNo"
                                   value="@Model.Contractor.NationalInsuranceNo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com"
                                   value="@Model.Contractor.Email">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required=""
                               value="@Model.Contractor.Address1">
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite"
                               value="@Model.Contractor.Address2">
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="county">County</label>
                            <input type="text" class="form-control" id="county" placeholder="County"
                                   value="@Model.Contractor.County" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="postcode">Postcode</label>
                            <input type="text" class="form-control" id="postcode" placeholder="Post Code"
                                   value="@Model.Contractor.PostCode" />
                        </div>
                    </div>
                    
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
